---
title: "Atl Deals \U0001F4B3\U0001F4B5"
layout: default
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.6.2/rellax.min.js"></script>

<!-- my intro to let you know - intro section -->
{% include home/section--intro.html %}

<!-- swipe that thang - cards section -->
{% include home/section--card.html %}

<!-- gimme the loot - freebies section -->
{% include home/section--freebies.html %}

<!-- talk that talk - blog section -->
{% include home/section--blog.html %}

<!-- check my footwork - footer section -->
{% include footer.html %}
