<footer>
  <div class="footer--content nav--content__lg">
    <h6 class="logotype f-xxs"><a class="op-5" href="/">Atl Deals</a></h6>

    <ul class="f-xxs f-bold">
      <li><a class="mr-3" href="/">Bank Bonus Offers</a></li>
      <li><a class="mr-3" href="#">Credit Offers</a></li>
      <li><a class="mr-3" href="/freebies">Freebies</a></li>
      <li><a class="mr-3" href="#">Deals</a></li>
      <li><a class="mr-3" href="#">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</footer>
