<nav >
  <div class="nav--content__lg">
    <h6 class="logotype f-xxs"><a class="op-5" href="/">Atl Deals</a></h6>

    <ul class="f-xxs f-bold">
      <li><a class="mr-5" href="/">Bank Bonus Offers</a></li>
      <li><a class="mr-5" href="#">Credit Offers</a></li>
      <li><a class="mr-5" href="/freebies">Freebies</a></li>
      <li><a class="mr-5" href="#">Deals</a></li>
      <li><a class="mr-5" href="#">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

  <div class="nav-trigger">
    <span class="track-one"></span>
    <span class="track-two"></span>
  </div>

  <div class="nav--content__sm">
    <h6 class="logotype__sm f-proto f-22"><a class="op-5" href="/">Atl Daily Deals</a></h6>

    <ul class="nav--list f-22 f-founders-medium">
      <li><a class="mr-5" href="/">Bank Bonus Offers</a></li>
      <li><a class="mr-5" href="#">Credit Offers</a></li>
      <li><a class="mr-5" href="/freebies">Freebies</a></li>
      <li><a class="mr-5" href="#">Deals</a></li>
      <li><a class="mr-5" href="#">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

</nav>


<script>
  const trigger = document.querySelector('.nav-trigger')
  trigger.addEventListener('click', () => {
    document.querySelector('html').classList.toggle('no-scroll')
    document.querySelector('body').classList.toggle('no-scroll')
    document.querySelector('.nav--content__sm').classList.toggle('nav--content__sm-show')
    document.querySelector('.track-one').classList.toggle('track-one__active')
    document.querySelector('.track-two').classList.toggle('track-two__active')
  })
</script>
