<nav >
  <div class="nav--content__lg">
    <h6 class="logotype f-xxs"><a class="op-5" href="/">Atl Deals</a></h6>

    <ul class="f-xxs f-bold">
      <li><a class="mr-5" href="/bank-bonus">Bank Bonus Offers</a></li>
      <li><a class="mr-5" href="/credit-card">Credit Card Offers</a></li>
      <li><a class="mr-5" href="/freebies">Freebies</a></li>
      <li><a class="mr-5" href="/deals">Deals</a></li>
      <li><a class="mr-5" href="/blog#">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

  <div class="nav-trigger">
    <span class="track-one"></span>
    <span class="track-two"></span>
  </div>

  <div class="nav--content__sm">
    <!-- <h6 class="logotype__sm f-proto f-22"><a class="op-5" href="/">Atl Daily Deals</a></h6> -->

    <ul class="uc nav--list">
      <li class=""><a class="mr-5 f-proto f-8vw" href="/">Home</a></li>
      <li><a class="mr-5 f-proto f-8vw" href="/bank-bonus">Bank Bonus Offers</a></li>
      <li><a class="mr-5 f-proto f-8vw" href="/credit-card">Credit Card Offers</a></li>
      <li><a class="mr-5 ml-3 f-proto f-8vw" href="/freebies">Freebies</a></li>
      <li><a class="mr-5 f-proto f-8vw" href="/deals">Deals</a></li>
      <li><a class="mr-5 ml-3 f-proto f-8vw" href="/blog#">The Blog</a></li>
      <li><a class="f-8vw f-proto" href="/about">About</a></li>
    </ul>

    <a class="colophon uc tac f-8vw f-proto" target="_blank" href="https://github.com/ohiosveryown/atldeals/wiki/Colophon">Colophon</a>
  </div>

</nav>


<script>
  const trigger = document.querySelector('.nav-trigger')
  trigger.addEventListener('click', () => {
    document.querySelector('html').classList.toggle('no-scroll')
    document.querySelector('body').classList.toggle('no-scroll')
    document.querySelector('.nav--content__sm').classList.toggle('nav--content__sm-show')
    document.querySelector('.track-one').classList.toggle('track-one__active')
    document.querySelector('.track-two').classList.toggle('track-two__active')
  })
</script>
