.wrapper--intro {
  display: flex;
  flex-direction: column;
  margin: 9.6rem auto 2rem auto;
  transition: opacity 800ms ease;
  will-change: transform;

  @include breakpoint(md) {
    margin-bottom: 8rem;
    width: grid-width(10);
  }

  @include breakpoint(mdl) { margin: 8rem auto 11.2rem auto; }
  @include breakpoint(lg)  { margin: 9.6rem auto 11.2rem auto; }
}

.fade-header-in { opacity: 0; }

// .wrapper--intro > h1:first-of-type { margin-bottom: 1rem; }
