.wrapper--card {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  @include breakpoint(md) {
    flex-direction: row;
    margin: 6.4rem auto auto;
    padding-bottom: 12.4rem;
    width: grid-width(10);
  }
}

.card {
  margin-bottom: 1.6rem;
  padding: 5.6rem 2rem;
  border-radius: 24px;
  box-shadow: 0px 64px 64px -56px rgba(0,0,0,0.72);
  background-blend-mode: hard-light;
  background-size: cover;
  // transition: all 400ms ease;
  @include breakpoint(md)  { padding: 4rem 2rem; }
  @include breakpoint(mdl) { padding: 5.6rem 2rem; }
  @include breakpoint(lg)  { padding: 7.2rem 2rem; }
}

.card > article > h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin: -20px 0 0 16px;
}

.card > article > h3 {
  margin: 0 0 8px 16px;
  color: #fff;
}

.card > article > p {
  padding: 16px 16px;
  border-radius: 12px;
  background: #fff;
  line-height: 1.4
}

.card:nth-of-type(1) {
  @include breakpoint(md) { margin-right: 4rem; }
}

.card:nth-of-type(even) {
  margin-top: 3.2rem;
  @include breakpoint(md) { margin-top: 0; transform: translateY(12.4rem); }
}

.card:nth-of-type(1) {
  background:
    linear-gradient(-45deg, #23AE3F 0%, #0E2EEE 100%),
    url('../img/test@2x.jpg')no-repeat center center;
}

.card:nth-of-type(2) {
  background:
    linear-gradient(125deg, #23AE3F 0%, #0E2EEE 100%),
    url('../img/test@2x.jpg')no-repeat center center;
}
