nav, footer {
  display: flex;
  margin: 0 auto;
  max-width: var(--max_width);
  width: 88vw;
  @include breakpoint(md) { padding: 40px 0 40px 0; }

  ul { list-style-type: none; -webkit-margin-before: 0; -webkit-margin-after: 0; }
  li { display: inline-block; }
}

.footer--content { padding-top: 3.2rem; border-top: 1px solid rgba(0,0,0,.5); opacity: .25; }

.nav--content__lg {
  display: none;
  @include breakpoint(mdl) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: grid-width(10);
  }
}

.logotype {
  display: flex; flex-grow: 1;
  a { transition: opacity 300ms ease; }
  a:hover { opacity: 1; }
}

.nav-trigger {
  position: fixed;
  top: 5rem; right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: var(--zmax);
  // margin-left: 20px;
  @include breakpoint(mdl) { display: none; }
}

span {
  display: flex;
  width: 32px; height: 2px;
  border-radius: 4px;
  background: #000;
  transition: all 300ms ease;
}

.track-one { transform: translateY(-4px); transform-origin: 18px 0px; }
.track-two { transform: translateY(4px); transform-origin: 11px 0px; }

.track-one__active { transform: rotate(45deg); }
.track-two__active { transform: rotate(-45deg); }

.nav--content__sm {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0; left: 0;
  // padding-top: 7.6rem;
  padding-top: 5.6rem;
  width: 100vw; height: 100vh;
  background: rgba(255,255,255,.88);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  z-index: var(--z4);
  transform: translateX(100vw);
  transition: transform 1ms 400ms, opacity 300ms ease;

  @include breakpoint(mdl) { display: none; }
}

.nav--content__sm-show {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1ms, opacity 400ms ease 100ms;
}

.logotype__sm {
  margin: 4rem 0 3.2rem 2.4rem;
}

.nav--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 76%;
}

// .nav--list > li:nth-of-type(1) { margin-bottom: 2rem; margin-left: 2.4rem; }
.nav--list > li { margin-bottom: 2rem; margin-left: 2.4rem; }

.colophon {
  margin: 0 auto 3rem auto;
  padding-bottom: 4rem;
  width: 88%;
  border-bottom: 1px solid;
}
