nav, footer {
  display: flex;
  margin: 0 auto;
  max-width: var(--max_width);
  width: 88vw;
  @include breakpoint(md) { padding: 40px 0 40px 0; }
}

.footer--content { padding-top: 3.2rem; border-top: 1px solid rgba(0,0,0,.5); opacity: .25; }

.nav--content__lg {
  display: none;
  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: grid-width(10);
  }
}

.logotype {
  display: flex; flex-grow: 1;
  a { transition: opacity 300ms ease; }
  a:hover { opacity: 1; }
}

.nav-trigger {
  position: absolute;
  top: 5rem; right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: var(--zmax);
  // margin-left: 20px;
  @include breakpoint(md) { display: none; }
}

span {
  display: flex;
  width: 32px; height: 2px;
  border-radius: 4px;
  background: #000;
  transition: all 300ms ease;
}

.track-one { transform: translateY(-4px); transform-origin: 18px 0px; }
.track-two { transform: translateY(4px); transform-origin: 11px 0px; }

.track-one__active { transform: rotate(45deg); }
.track-two__active { transform: rotate(-45deg); }

.nav--content__sm {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(255,255,255,.88);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: var(--z4);
  transform: translateX(100vw);
  transition: all 400ms cubic-bezier(0.795, 0.020, 0.465, 0.065);

  @include breakpoint(md) { display: none; }
}

.nav--content__sm-show { transform: translateX(0); }

.logotype__sm {
  margin: 4rem 0 3.2rem 2.4rem;
}

.nav--list {
  display: flex;
  flex-direction: column;
}

.nav--list > li { margin-bottom: 3.2rem; margin-left: 2.4rem; }
