.debug { border: 2px solid hotpink; }
.pointer { &:hover { cursor: pointer; } }

// .no-scroll {
//   position: fixed;
//   left: 50%;
//   transform: translateX(-50%);
// }

.no-scroll { overflow: hidden; }

.mw__lg {
  position: relative;
  margin: 0 auto;
  max-width: var(--max_width);
  width: 88vw;
}

.wrapper-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include breakpoint(md) { width: grid-width(10); }
}

.wrapper-main__sm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include breakpoint(md) { width: grid-width(8); }
}

.inline { display: inline; }
.img-shadow { box-shadow: 0 10px 40px 0 rgba(0,0,0,.08); }
.img-shadow__heavy { box-shadow: 0 10px 40px 0 rgba(0,0,0,.4); }

.fade-in-1 {
  opacity: 0;
  animation: fadein 1000ms ease 400ms forwards;
}

.fade-in-2 {
  opacity: 0;
  animation: fadein 1000ms ease 700ms forwards;
}

.fade-in-3 {
  opacity: 0;
  animation: fadein 1000ms ease 900ms forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mt-0 { margin-top: calc(var(--unit) * 0.5 ); }
.mt-1 { margin-top: calc(var(--unit) * 1 ); }
.mt-2 { margin-top: calc(var(--unit) * 2); }
.mt-3 { margin-top: calc(var(--unit) * 3); }
.mt-4 { margin-top: calc(var(--unit) * 4); }
.mt-5 { margin-top: calc(var(--unit) * 5); }
.mt-6 { margin-top: calc(var(--unit) * 6); }
.mt-7 { margin-top: calc(var(--unit) * 7); }
.mt-8 { margin-top: calc(var(--unit) * 8); }
.mt-9 { margin-top: calc(var(--unit) * 9); }

.mr-0 { margin-right: calc(var(--unit) * 0.5 ); }
.mr-1 { margin-right: calc(var(--unit) * 1 ); }
.mr-2 { margin-right: calc(var(--unit) * 2); }
.mr-3 { margin-right: calc(var(--unit) * 3); }
.mr-4 { margin-right: calc(var(--unit) * 4); }
.mr-5 { margin-right: calc(var(--unit) * 5); }
.mr-6 { margin-right: calc(var(--unit) * 6); }
.mr-7 { margin-right: calc(var(--unit) * 7); }
.mr-8 { margin-right: calc(var(--unit) * 8); }
.mr-9 { margin-right: calc(var(--unit) * 9); }

.mb-00 { margin-bottom: calc(var(--unit) * 0.3 ); }
.mb-0  { margin-bottom: calc(var(--unit) * 0.5 ); }
.mb-1  { margin-bottom: calc(var(--unit) * 1 ); }
.mb-2  { margin-bottom: calc(var(--unit) * 2); }
.mb-3  { margin-bottom: calc(var(--unit) * 3); }
.mb-4  { margin-bottom: calc(var(--unit) * 4); }
.mb-5  { margin-bottom: calc(var(--unit) * 5); }
.mb-6  { margin-bottom: calc(var(--unit) * 6); }
.mb-7  { margin-bottom: calc(var(--unit) * 7); }
.mb-8  { margin-bottom: calc(var(--unit) * 8); }
.mb-9  { margin-bottom: calc(var(--unit) * 9); }

.ml-0 { margin-left: calc(var(--unit) * 0.5 ); }
.ml-1 { margin-left: calc(var(--unit) * 1 ); }
.ml-2 { margin-left: calc(var(--unit) * 2); }
.ml-3 { margin-left: calc(var(--unit) * 3); }
.ml-4 { margin-left: calc(var(--unit) * 4); }
.ml-5 { margin-left: calc(var(--unit) * 5); }
.ml-6 { margin-left: calc(var(--unit) * 6); }
.ml-7 { margin-left: calc(var(--unit) * 7); }
.ml-8 { margin-left: calc(var(--unit) * 8); }
.ml-9 { margin-left: calc(var(--unit) * 9); }

.pt-0 { padding-top: calc(var(--unit) * 0.5 ); }
.pt-1 { padding-top: calc(var(--unit) * 1 ); }
.pt-2 { padding-top: calc(var(--unit) * 2); }
.pt-3 { padding-top: calc(var(--unit) * 3); }
.pt-4 { padding-top: calc(var(--unit) * 4); }
.pt-5 { padding-top: calc(var(--unit) * 5); }
.pt-6 { padding-top: calc(var(--unit) * 6); }
.pt-7 { padding-top: calc(var(--unit) * 7); }
.pt-8 { padding-top: calc(var(--unit) * 8); }
.pt-9 { padding-top: calc(var(--unit) * 9); }

.pb-0 { padding-bottom: calc(var(--unit) * 0.5 ); }
.pb-1 { padding-bottom: calc(var(--unit) * 1 ); }
.pb-2 { padding-bottom: calc(var(--unit) * 2); }
.pb-3 { padding-bottom: calc(var(--unit) * 3); }
.pb-4 { padding-bottom: calc(var(--unit) * 4); }
.pb-5 { padding-bottom: calc(var(--unit) * 5); }
.pb-6 { padding-bottom: calc(var(--unit) * 6); }
.pb-7 { padding-bottom: calc(var(--unit) * 7); }
.pb-8 { padding-bottom: calc(var(--unit) * 8); }
.pb-9 { padding-bottom: calc(var(--unit) * 9); }

.op-1 { opacity: 0.1; }
.op-2 { opacity: 0.2; }
.op-3 { opacity: 0.3; }
.op-4 { opacity: 0.4; }
.op-5 { opacity: 0.5; }
.op-6 { opacity: 0.6; }
.op-7 { opacity: 0.7; }
.op-8 { opacity: 0.8; }
.op-9 { opacity: 0.9; }
