---
layout: default
---

<article class="blog--content wrapper-main__sm">
  <header class="fade-in-1 blog--header">
    <h1 class="mt-0 f-xl f-founders-medium">{{ page.title }}</h1>
    <h5>{{ page.date | date_to_long_string }}</h5>
    <figure class="fade-in-2">
      <img src="{{ page.image }}" alt="">
      <!-- <img src="../../../../../img/blog-img-03@2x.jpg" alt="blog image one"> -->
    </figure>
  </header>

  <section class="fade-in-3">{{ content }}</section>
</article>

<footer class="post--footer">

  {% if page.previous.url %}
    <div class="post--footer__entry">
      <h5 class="mb-1">{{ page.previous.date | date_to_long_string }}</h5>
      <a href="{{ page.previous.url }}">
        <h3 class="f-founders-medium f-30">{{ page.previous.description | truncate: 80 }}</h3>
      </a>
      <!-- <h5>Next Post</h5> -->
    </div>
  {% endif %}

</footer>
