<header class="wrapper--intro">
  {% for post in site.categories.intro %}

    <h1 class="fade-in-1 mb-1 f-xxl f-proto">{{ post.firstLine }}</h1>
    <h1 class="fade-in-1 f-xxl f-founders-medium">{{ post.secondLine }}</h1>
    <h5 class="fade-in-1 mt-3">{{ post.thirdLine }}</h5>

  {% endfor %}
</header>


<script>
  const header = document.getElementsByTagName('header')[0]

  header.classList.add('rellax')
  header.setAttribute('data-rellax-speed', '-3')

  let scrollpos = window.scrollY
  const add_class_on_scroll = () => header.classList.add('fade-header-in')
  const remove_class_on_scroll = () => header.classList.remove('fade-header-in')

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;
    if   (scrollpos >= 100) { add_class_on_scroll() }
    else { remove_class_on_scroll() }
  })
</script>
